<mat-card>
  <mat-card-header>
    <mat-card-title>Cars List</mat-card-title>
    <mat-card-subtitle>
      <button mat-raised-button
              color="accent"
              routerLink="/car/add">
        <mat-icon>note_add</mat-icon>
        Create New Car
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="mat-table" *ngIf="CarsSrv.cars?.length">
      <div class="mat-header-row">
        <div class="mat-header-cell" *ngFor="let col of cols">
          {{col}}
        </div>
      </div>
      <div class="mat-row" *ngFor="let car of CarsSrv.cars">
        <div class="mat-cell">
          <img [src]="car.imageUrl" [alt]="car.model">
        </div>
        <div class="mat-cell">
          <a mat-button [routerLink]="['/car', car.id]">
            {{ car.brand }}
          </a>
        </div>
        <div class="mat-cell">{{ car.model }}</div>
        <div class="mat-cell">{{ car.country }}</div>
        <div class="mat-cell">{{ car.year }}</div>
        <div class="mat-cell">
          <a mat-button [routerLink]="['/car/update', car.id]">
              <mat-icon>mode_edit</mat-icon>
              Edit
          </a>
          <a mat-button (click)="CarsSrv.delete(car.id)">
              <mat-icon>close</mat-icon>
              Delete
          </a>
        </div>
      </div>
    </div>
    <span *ngIf="!CarsSrv.cars?.length">
      there is no data in the list right now ...
    </span>
  </mat-card-content>
</mat-card>
